@model IEnumerable<JobSeekerJobPost>
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <h3>Job Post Apllied For</h3>
       
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Post Name</th>
                    <th>Company</th>
                    <th>Postion</th>
                    <th>Location</th>
                    <th>Description</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.JobPost?.JobPostName</td>
                        <td>@p.JobPost?.JobPoster?.CompnayName</td>
                        <td>@p.JobPost?.Postion</td>
                        <td>@p.JobPost?.Location</td>
                        <td>@p.JobPost?.Description</td>
                       
                       
                    </tr>
                }
            </tbody>
            
        </table>
        <div class="d-flex justify-content-end">
            @Html.PagedListPager((IPagedList)Model, pg => Url.Action("Index", new { pg = pg }), new PagedListRenderOptions
            {
            UlElementClasses= new string[]{"pagination", "pagination-sm"},
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }

            })
        </div>
    </div>
</div>

